/** WikiCard Settings */
div .wiki{
    clear: right;
    width: 25%;
    min-width: 250px;
    padding: 0.5em;
    text-align: left;
    float: right;
    transition: 0.3s;
    border-width: 2px;
    border-radius: 5px;
    background-color: #242943;
    box-shadow: 0 0 5px #223;
}
div .wiki p{
    font-size: medium;
}
div .wiki:hover{
    background-color: #2A2F4A;
}

div .overflow {
    padding-top: 0em;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

div .overflow .check{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: -moz-scrollbars-vertical;
    overflow-x: auto;
    overflow-y: hidden;
}

@media screen and (max-width: 600px) {
    div .wiki{
        float: none;
        margin-right: auto;
        margin-left:auto;
    }
}

/** Plotly */
.plotlycanvas {
    position: relative;
    margin: auto auto 1em auto;
    width: 80%;
    min-height: 100pt;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}
.plotlycanvas .plotlytitle{
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    line-height: 1.6;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff0e;
    color: #FFF;
}
.plotlycanvas:hover{
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: #695acd79
}
.plotlycanvas:hover .plotlytitle{
    -moz-transition: inherit;
    -webkit-transition: inherit;
    -ms-transition: inherit;
    transition: inherit;
    background-color: #6a5acd
}
.plotlycanvas .js-plotly-plot{
    min-width: 0;
    height:100%;
    margin: auto;
}

.plotlycanvas{
    max-width: 550px;
}
.plotlycanvas .plotlytitle{
    width: 550px;
}
.plotlycanvas .js-plotly-plot{
    width: 550px;
}
@media screen and (max-width: 1680px) {
    .plotlycanvas{
        max-width: 460px;
    }
    .plotlycanvas .plotlytitle{
        width: 460px;
    }
    .plotlycanvas .js-plotly-plot{
        width: 460px;
    }
}
@media screen and (max-width: 600px) {
    .plotlycanvas{
        max-width: 400px;
    }
    .plotlycanvas .plotlytitle{
        width: 400px;
    }
    .plotlycanvas .js-plotly-plot{
        width: 400px;
    }
}

/** YouTube Player */

.youtube.container {
    position: relative;
    margin: auto auto 1em auto;
    width: 80%;
    padding-bottom: 45%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}
  
.youtube.container .youtube {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.youtube.container .docs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

.youtube.container .docs .center {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: auto;
}

.youtube.container .docs .center p {
    position: absolute;
}

/** Image arrangements */

@media screen and (min-width: 600px) {
    img {
        max-height: 300px;
    }
    .image.main img{
        max-height: none;
    }
}

@media screen and (max-width: 600px) {
    .\36u {
        float: none;
        max-width: none;
        width: 100%;
        clear: none;
		margin: none;
    }
}

.nolimits{
    max-height: none;
}

blockquote p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/** popup settings */
.tooltipster-sidetip .tooltipster-content{
    line-height:24pt;
    font-size: 15pt;
}

@media screen and (max-width: 1680px) {
    .tooltipster-sidetip .tooltipster-content{
        line-height:20pt;
        font-size: 12pt;
    }
}

@media screen and (max-width: 1280px) {
    .tooltipster-sidetip .tooltipster-content{
        line-height: 18pt;
        font-size: 11pt;
    }
}

@media screen and (max-width: 600px) {
    .tooltipster-sidetip .tooltipster-content{
        line-height:14pt;
        font-size: 9pt;
    }
}

/** Select Style */
.dropdown {
    vertical-align: top;
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 5em;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
}

@media screen and (min-width: 600px) {
    .dropdown{
        display: none;
    }
}

.dropdown:hover {
    box-shadow: inset 0 0 0 2px #9bf1ff;
    color: #9bf1ff;
}
  
.dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 45%;
    right: 20px;
    border: 0.5em dashed;
    border-color: #888888 transparent;
    pointer-events: none;
    border-top-style: solid;
    border-bottom: none;
}
  
.dropdown-select {
    position: relative;
    margin: 0;
    height: 2.2em;
    line-height: 2em;
    -webkit-appearance: none;
}

.dropdown-select > option {
    background: #2A2F4A;
    cursor: pointer;
}
  
/* Fix for IE 8 putting the arrows behind the select element. */ 
.lt-ie9 .dropdown {
    z-index: 1;
}  
.lt-ie9 .dropdown-select {
    z-index: -1;
} 
.lt-ie9 .dropdown-select:focus {
    z-index: 3;
}
  
/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
    select .dropdown-select {
      padding-left: 6px;
    }
}

/* Fix the positions of the headings */
h1 {
    padding-top: 1.2em;
    margin-top: -1.2em;
}

#main_title {
    padding-top: 0;
    margin-top: 0;
}

h2 {
    padding-top: 2em;
    margin-top: -2em;
}

h3 {
    padding-top: 2.5em;
    margin-top: -2.5em;
}

header h3 {
    padding-top: 0;
    margin-top: 0;
}

h4 {
    padding-top: 3.2em;
    margin-top: -3.2em;
}

h5 {
    padding-top: 4em;
    margin-top: -4em;
}

.wrap_offset {
    padding-top: 4em;
    margin-top: -4em;
}

.cancel_offset {
    padding-top: 0;
    margin-top: 0;
}

.cancel_link {
    padding-top: 0;
    margin-top: 0;
}